@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
	background: url('http://thecodeplayer.com/uploads/media/gs.png');
	/*background = gradient + image pattern combo*/
	/*background: 
		linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)), 
		url('http://thecodeplayer.com/uploads/media/gs.png');*/
}

body {
	font-family: montserrat, arial, verdana;
	height: 50px;
}

a{
	color: #427B4F;
}

a:hover{
	color: #63986F;
}

.form-group{
	border: 3px solid;
	border-radius: 10px;
	border-color: #427B4F;
}

.btn{
	background-color: #427B4F;
	color: white;
	border-color: #427B4F;
}

.btn:hover{
	background-color: #63986F;
	border-color: #427B4F;
}
