@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
	background-color: #F7FEFA;
	/*background = gradient + image pattern combo*/
	/*background: 
		linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)), 
		url('http://thecodeplayer.com/uploads/media/gs.png');*/
}

body {
	font-family: montserrat, arial, verdana;
	height: 50px;
}

.navbar{
	background-color: #F7FEFA;
}

a{
	color: #001B0B;
}

a:hover{
	color: #001B0B;
}

.row {
	padding-bottom: 10px;
}
.form-group{
	border: 3px solid;
	border-radius: 5px;
	border-color: #73CE98;
	background-color: #73CE98;
	margin-bottom: 30px;
}

.btn{
	background-color: #076D30;
	color: white;
	border-color: #076D30;
	text-align: center;
}

.btn:hover{
	background-color: #005020;
	border-color: #005020;
	color: white;
}

#form {
	text-align: center;
	color: white;
}
.form-group-header {
	margin-top: 20px;
	margin-bottom: 20px;
	
}
