.container{
	border: 2px solid #4D8798;
	margin-bottom: 20px;
	margin-top: 30px;
}

select {
	margin-left: 5px;
	margin-right: 25px;
}
.form-group{
	text-align: center;
}
.form-control{
	border: 2px solid #337ab7;
}

.header {
	margin-top: 20px;
	margin-bottom: 20px;
}

#search{
	border: 2px solid #337ab7;
	background-color: white;

}

.right-inner-addon {
  position: relative;
}

.right-inner-addon input {
  padding-right: 30px;
}

.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
}

.footer {
	background-color: #337ab7;
	color: white;
}	

.column-center{ 
	float: left; width: 33%; 
	text-align: center;
	display: inline-block;
}

.column-left{ 
	float: left; width: 33%; 
	text-align: center;
}

.column-right{ 
	float: right; width: 33%;
	text-align: center; 
}

.footer-symbol {
	color: white;
}